<!DOCTYPE html>
<html>
  <head>
    <title>LearningRails7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="max-w-2xl mx-auto py-8">
    <div id="nav" class="flex space-x-4">
      <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path %>
        <%= button_to "Logout", logout_path, method: :post %>
      <% else %>
        <%= link_to "Register", signup_path %>
        <%= link_to "Login", login_path %>
      <% end %>
    </div>

    <div class="h-14 mt-4">
      <%= render(FlashMessageComponent.new(message: flash[:notice], type: :notice)) %>
      <%= render(FlashMessageComponent.new(message: flash[:alert], type: :alert)) %>
    </div>

    <main class="mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
